.container {
    padding-top: 2rem;
    margin: auto;
    
}

.login-wrapper {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    width: 60%;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn-submit {
    margin-right: .6rem;
}