.login-wrapper {
    margin-top: 1rem;
    padding-top: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    width: 60%;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
}
